spring:
  datasource:
    url: jdbc:postgresql://db:5432/taskmanager
    username: admin
    password: secret123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true
springdoc:
  cache:
    disabled: true
  override-with-generic-response: false
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger


server:
  port: 8080